.block-generic_content {
	margin-top:60px;
	margin-bottom:60px;
	.gc-wrap {
		padding:60px;
		display:inline-block;
		width:100%;
	}
	
	.gc-content{
		margin:0px;
		padding:0px;
		text-align:center;
		p{
		
			margin-bottom:30px;
			line-height:32px;
		}
	}
	.top-bar{
		display:none;
	}
	@media #{$bp-tab-sm} {
		.interior-container{
			width:calc(100% - 40px);
			display:inline-block;
		}

		.left-bar{
			display:none;
		}
		.top-bar{
			width:200%;
			height:30px;
			display:block;
			float:none;
		}
		.gc-wrap{
			float:none;
			width:100%;
			display:block;
			clear:both;
			padding:30px;
			i{
				font-size:24px !important;
				line-height:30px !important;
			}
		}
		
	}

}
