$header-height:50vh;
$header-height-desk:50vh;

.has-parent-header{
	.block-header{
		box-shadow: -1px 5px 5px 0px rgba(50,50,50,0.3);
		-webkit-box-shadow: -1px 5px 5px 0px rgba(50,50,50,0.3);
		-moz-box-shadow: -1px 5px 5px 0px rgba(50,50,50,0.3);
	}
	.block-headerbanner {
		margin-bottom:0;
	}
}
.block-headerbanner {
	z-index:1;
	line-height:0;
	position: relative;
	.parent-header{
		display:flex;
		.interior-container{
			h6{
				a, a:visited, a:hover{
					color:#999999;
					text-decoration:none;
					margin-right:15px;
				}
				a.active{
					margin-left:15px;

					text-decoration:underline;
				}
			}
		}
	}
	.layout-content {
		line-height:normal;
		display:inline-block;
		width: 100%;
	}
	.bg-image {

		margin: 0px auto;

		height: calc( #{$header-height-desk} );
		width: 100%;
		background-size: cover;
		background-position:  center;
		overflow: hidden;
		.video {
			// should cover entire element
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			z-index: 1;
			width: 100%;
		}
		.img-overlay {
			position: absolute;
			top: 0;
		 	margin: 0px auto;
			height: calc( #{$header-height-desk} );
			width: 100%;
			max-width:1220px;

		}
	}
	.title {

		width:100%;
		height:100%;
		display:inline-block;
		z-index: 999;
		img {
			display: block;
			margin: 0 auto;
		}
		.media_title{
    		font-size:60px ;
    		line-height:56px;
    		font-weight:900;
			color: white;
			font-style:italic;
		    display: block;
		    text-align:center;
		}
	}
	.content-container{
		height:auto;
		line-height:normal;
		margin-bottom:0;
		margin-left:auto !important;
		margin-right:auto !important;
		display:inline-block;
		.title {

			height:100%;
			display:inline-block;
			z-index: 999;
			img {
				display: block;
				margin: 0 auto;
			}
			.title-wrap {
				float:left;
				margin-right: auto;
				.video-btn{
					font-size:18px;
					font-weight:bold;
					color:#F3B837;
					text-decoration:none;
					border:solid 2px #F3B837;
					border-radius: 7.5px;
					padding:15px; 
					&:hover {

					}
					svg{
						height:20px;
						width:20px;
						margin-top:-2px;
						margin-left:15px;
					}
				}
			}
		}
	}
	@media #{$bp-tab-sm} {
		.left-image, .right-content{
			display:block !important;
			width:100%;
			clear:both;
			margin:0 !important;
		 	text-align: center;
			max-width:100% !important;
			img{
				margin-bottom:30px !important;
			}
		}
		.down-arrow{
			bottom:7px;
		}
	}
	@media #{$bp-tab} {
		.media_title{
			font-size:40px !important;
			line-height:44px !important;

		}
	}
}
