.site-footer{
	.module{
		margin-bottom:0;
	}
}
.block-footer {
		margin-top:-180px;
	z-index:1;
	width:100%;
	text-align:center;
	background-color:black;
	padding-top:220px;
	padding-bottom:90px;
	.copyright{
		display:block;
		padding-top:15px;
		margin-top:100px;
		text-align:left;
		border-top:solid 1px #999999;
	}
	.top-bar{
		height:5px;
		width:100%;
		position:absolute;
		top:0px;	
	}
	.footer{
		.footer-content{
			margin-top:20px;
			.logo-wrapper{
				display:inline-block;
				text-align:left;
			}
			.column-wrapper{
				display:flex;
				width:calc(100% - 180px);
				.column-one, .column-two, .column-three{
					display:inline-block;
					width:calc(100% / 3);
					margin:0;
					padding:0;
					list-style:none;
					padding-left:60px;
				}
				.column-one{
					text-align:left;
					li{
						a, a:visited, a:hover{
							font-size:16px;
							line-height:32px;
							color:white;
							text-decoration:none;
							font-weight:bold;
						}
					}
				}
				.column-two{
					text-align:left;
					li{
						a, a:visited, a:hover{
							font-size:14px;
							line-height:30px;
							color:white;
							text-decoration:none;
						}
					}
				}
				.column-three{
					text-align:right;
					li{
						a, a:visited, a:hover{
							font-size:12px;
							line-height:30px;
							color:#999999;
							font-weight:bold;
							text-decoration:none;
							&.yellow{
								color:$ud-yellow;
							}
						}
					}
				}
			}
			img{

				width:180px;
				height:auto;
				margin-bottom:30px;
				-webkit-box-shadow: 0px 6px 20px 0px rgba(0,0,0,0.1);
				-moz-box-shadow: 0px 6px 20px 0px rgba(0,0,0,0.1);
				box-shadow: 0px 6px 20px 0px rgba(0,0,0,0.1);

			}
		}
	}
	@media #{$bp-tab-sm} {
		.footer{
			.copyright{
				text-align:center;
			}
			.footer-content{
				display:block !important;
				.logo-wrapper{
					display:block;
					width:100%;
					text-align:center;
				}
				.column-wrapper{
					display:block !important;
					width:100%;
					text-align:center;
					.column-one, .column-two, .column-three{
						display:block;
						text-align:center;
						width:100%;
						padding:0;
					}
					.column-two, .column-three{
							margin-top:40px;
					}
				}
			}
		}
	}
}
