$header-height-tab-sm:100vh;
$header-height-desk:100vh;
$header-height-939:600px;
$header-height-1240:600px;
$header-height-plus:600px;
$header-height-half-639:250px;
$header-height-half-939:600px;
$header-height-half-1240:300px;
$header-height-half-plus:400px;
$footer-height-639:360px;
$footer-height-939:260px;
$footer-height-1240:315px;
$footer-height-plus:315px;


.block-banner {
	z-index:1;
	line-height:0;
	position: relative;
	.down-arrow{
		height:45px;
		position:absolute;
		left:50%;
		bottom:80px;
		&:hover{
			cursor:pointer;
		}
	}
	.layout-content {
		line-height:normal;
		display:inline-block;
		width: 100%;
	}
	.bg-image {

		margin: 0px auto;

		height: calc( #{$header-height-desk} );
		width: 100%;
		background-size: cover;
		background-position:  center;
		overflow: hidden;
		.video {
			// should cover entire element
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			z-index: 1;
			width: 100%;
		}
		.img-overlay {
			position: absolute;
			top: 0;
		 	margin: 0px auto;
			height: calc( #{$header-height-desk} );
			width: 100%;
			max-width:1220px;

		}
	}
	.title {

		width:100%;
		height:100%;
		display:inline-block;
		z-index: 999;
		img {
			display: block;
			margin: 0 auto;
		}
		.title-wrap {
			float:left;
			margin-right: auto;
			width:100%;
			.left-image{
				float:left;
				display:inline-block;
					height:100%;
					max-width:180px;
				img{
					height:100%;
					max-width:180px;
					width:180px;
				}
			}
			.right-content{
				display:inline-block;
				margin-left:60px;
				max-width: calc(100% - 240px );
				.subtitle {
					font-size: 12px;
					color: white;
				    line-height: 16px;
				    letter-spacing: 2px;
				    text-transform: uppercase;
				    font-weight: bold;
				    margin-bottom: 20px;

				}
				.media_title{
					margin-top: 0px;
				    margin-bottom: 30px;
				    font-size: 50px;
				    line-height: 50px;
				    font-weight: 900;
				    color: white;
				    font-style: italic;
				    display: block;
				}
				.media_content{
					p{
						font-size: 1.15rem;
						color: white;
			    	}
				}
				.video-btn{
				    font-size: 1rem;
				    line-height: 1.2;
				    font-weight: bold;
				    letter-spacing: 2px;
	    			color:#F3B837;
					text-decoration:none;
					border:solid 2px #F3B837;
					border-radius: 7.5px;
					padding:15px; 
					&:hover {

					}
					svg{
						height:20px;
						width:20px;
						margin-top:-2px;
						margin-left:15px;
					}
				}
			}
		}
	}

	.content-container{
		height:auto;
		line-height:normal;
		position: relative;
		top: 50%;
		transform: translateY(-50%);

		.title {

			height:100%;
			display:inline-block;
			z-index: 999;
			img {
				display: block;
				margin: 0 auto;
			}
			.title-wrap {
				float:left;
				margin-right: auto;
				.video-btn{
					font-size:18px;
					font-weight:bold;
					color:#F3B837;
					text-decoration:none;
					border:solid 2px #F3B837;
					border-radius: 7.5px;
					padding:15px; 
					&:hover {

					}
					svg{
						height:20px;
						width:20px;
						margin-top:-2px;
						margin-left:15px;
					}
				}
			}
		}
	}
	@media #{$bp-tab-sm} {
		.left-image, .right-content{
			display:block !important;
			width:100%;
			clear:both;
			margin:0 !important;
		 	text-align: center;
			max-width:100% !important;
			img{
				margin-bottom:30px !important;
			}
		}
		.down-arrow{
			bottom:7px;
		}
	}
	@media #{$bp-desk} {
		margin-bottom:0 !important;
		.down-arrow{
			display:none;
		}
		.content-container{
			margin-bottom:60px;			
			.media_title{
				font-size:40px !important;
				line-height:44px !important;

			}
		}
	}
}
