@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat-BoldItalic.eot');
    src: url('fonts/Montserrat-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/Montserrat-BoldItalic.woff2') format('woff2'),
        url('fonts/Montserrat-BoldItalic.woff') format('woff'),
        url('fonts/Montserrat-BoldItalic.ttf') format('truetype'),
        url('fonts/Montserrat-BoldItalic.svg#Montserrat-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat-Regular.eot');
    src: url('fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/Montserrat-Regular.woff2') format('woff2'),
        url('fonts/Montserrat-Regular.woff') format('woff'),
        url('fonts/Montserrat-Regular.ttf') format('truetype'),
        url('fonts/Montserrat-Regular.svg#Montserrat-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat-BlackItalic.eot');
    src: url('fonts/Montserrat-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/Montserrat-BlackItalic.woff2') format('woff2'),
        url('fonts/Montserrat-BlackItalic.woff') format('woff'),
        url('fonts/Montserrat-BlackItalic.ttf') format('truetype'),
        url('fonts/Montserrat-BlackItalic.svg#Montserrat-BlackItalic') format('svg');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat-Italic.eot');
    src: url('fonts/Montserrat-Italic.eot?#iefix') format('embedded-opentype'),
        url('fonts/Montserrat-Italic.woff2') format('woff2'),
        url('fonts/Montserrat-Italic.woff') format('woff'),
        url('fonts/Montserrat-Italic.ttf') format('truetype'),
        url('fonts/Montserrat-Italic.svg#Montserrat-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat-Bold.eot');
    src: url('fonts/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/Montserrat-Bold.woff2') format('woff2'),
        url('fonts/Montserrat-Bold.woff') format('woff'),
        url('fonts/Montserrat-Bold.ttf') format('truetype'),
        url('fonts/Montserrat-Bold.svg#Montserrat-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat-Bold_1.eot');
    src: url('fonts/Montserrat-Bold_1.eot?#iefix') format('embedded-opentype'),
        url('fonts/Montserrat-Bold_1.woff2') format('woff2'),
        url('fonts/Montserrat-Bold_1.woff') format('woff'),
        url('fonts/Montserrat-Bold_1.ttf') format('truetype'),
        url('fonts/Montserrat-Bold_1.svg#Montserrat-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat-Italic_1.eot');
    src: url('fonts/Montserrat-Italic_1.eot?#iefix') format('embedded-opentype'),
        url('fonts/Montserrat-Italic_1.woff2') format('woff2'),
        url('fonts/Montserrat-Italic_1.woff') format('woff'),
        url('fonts/Montserrat-Italic_1.ttf') format('truetype'),
        url('fonts/Montserrat-Italic_1.svg#Montserrat-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat-Regular_1.eot');
    src: url('fonts/Montserrat-Regular_1.eot?#iefix') format('embedded-opentype'),
        url('fonts/Montserrat-Regular_1.woff2') format('woff2'),
        url('fonts/Montserrat-Regular_1.woff') format('woff'),
        url('fonts/Montserrat-Regular_1.ttf') format('truetype'),
        url('fonts/Montserrat-Regular_1.svg#Montserrat-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat-Black';
    src: url('fonts/Montserrat-BlackItalic_1.eot');
    src: url('fonts/Montserrat-BlackItalic_1.eot?#iefix') format('embedded-opentype'),
        url('fonts/Montserrat-BlackItalic_1.woff2') format('woff2'),
        url('fonts/Montserrat-BlackItalic_1.woff') format('woff'),
        url('fonts/Montserrat-BlackItalic_1.ttf') format('truetype'),
        url('fonts/Montserrat-BlackItalic_1.svg#Montserrat-BlackItalic') format('svg');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat-Italic_2.eot');
    src: url('fonts/Montserrat-Italic_2.eot?#iefix') format('embedded-opentype'),
        url('fonts/Montserrat-Italic_2.woff2') format('woff2'),
        url('fonts/Montserrat-Italic_2.woff') format('woff'),
        url('fonts/Montserrat-Italic_2.ttf') format('truetype'),
        url('fonts/Montserrat-Italic_2.svg#Montserrat-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat-Black';
    src: url('fonts/Montserrat-BlackItalic_2.eot');
    src: url('fonts/Montserrat-BlackItalic_2.eot?#iefix') format('embedded-opentype'),
        url('fonts/Montserrat-BlackItalic_2.woff2') format('woff2'),
        url('fonts/Montserrat-BlackItalic_2.woff') format('woff'),
        url('fonts/Montserrat-BlackItalic_2.ttf') format('truetype'),
        url('fonts/Montserrat-BlackItalic_2.svg#Montserrat-BlackItalic') format('svg');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat-Regular_2.eot');
    src: url('fonts/Montserrat-Regular_2.eot?#iefix') format('embedded-opentype'),
        url('fonts/Montserrat-Regular_2.woff2') format('woff2'),
        url('fonts/Montserrat-Regular_2.woff') format('woff'),
        url('fonts/Montserrat-Regular_2.ttf') format('truetype'),
        url('fonts/Montserrat-Regular_2.svg#Montserrat-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat-Bold_2.eot');
    src: url('fonts/Montserrat-Bold_2.eot?#iefix') format('embedded-opentype'),
        url('fonts/Montserrat-Bold_2.woff2') format('woff2'),
        url('fonts/Montserrat-Bold_2.woff') format('woff'),
        url('fonts/Montserrat-Bold_2.ttf') format('truetype'),
        url('fonts/Montserrat-Bold_2.svg#Montserrat-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat-Italic_3.eot');
    src: url('fonts/Montserrat-Italic_3.eot?#iefix') format('embedded-opentype'),
        url('fonts/Montserrat-Italic_3.woff2') format('woff2'),
        url('fonts/Montserrat-Italic_3.woff') format('woff'),
        url('fonts/Montserrat-Italic_3.ttf') format('truetype'),
        url('fonts/Montserrat-Italic_3.svg#Montserrat-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat-Bold_3.eot');
    src: url('fonts/Montserrat-Bold_3.eot?#iefix') format('embedded-opentype'),
        url('fonts/Montserrat-Bold_3.woff2') format('woff2'),
        url('fonts/Montserrat-Bold_3.woff') format('woff'),
        url('fonts/Montserrat-Bold_3.ttf') format('truetype'),
        url('fonts/Montserrat-Bold_3.svg#Montserrat-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat-Black';
    src: url('fonts/Montserrat-BlackItalic_3.eot');
    src: url('fonts/Montserrat-BlackItalic_3.eot?#iefix') format('embedded-opentype'),
        url('fonts/Montserrat-BlackItalic_3.woff2') format('woff2'),
        url('fonts/Montserrat-BlackItalic_3.woff') format('woff'),
        url('fonts/Montserrat-BlackItalic_3.ttf') format('truetype'),
        url('fonts/Montserrat-BlackItalic_3.svg#Montserrat-BlackItalic') format('svg');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat-Regular_3.eot');
    src: url('fonts/Montserrat-Regular_3.eot?#iefix') format('embedded-opentype'),
        url('fonts/Montserrat-Regular_3.woff2') format('woff2'),
        url('fonts/Montserrat-Regular_3.woff') format('woff'),
        url('fonts/Montserrat-Regular_3.ttf') format('truetype'),
        url('fonts/Montserrat-Regular_3.svg#Montserrat-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.module {
  clear: both;
}

// Block Level Elements (for uniform margin)
// See: https://developer.mozilla.org/en-US/docs/HTML/Block-level_elements
address,figcaption,ol,article,figure,output,aside,
p,audio,form,pre,h1,h2,h3,h4,h5,h6,canvas,table,
dd,hgroup,tfoot,hr,ul,dl,video,fieldset,noscript {
    margin: 0 0 $element-spacing 0;
}
p, .gform_wrapper form .gform_heading .gform_description{
	@include default-font;
    font-size:16px;
    line-height:32px;
    color:#000000;
}
h1,.h1{
    font-family: 'Montserrat-Black';
    font-style: italic; 
    font-weight: bold; 
    font-size:50px;
    line-height:50px;
    margin-bottom:30px;
}
h2,.h2{
    font-family: 'Montserrat';
    font-style: italic; 
    font-weight: normal; 
    font-size:50px;
    line-height:50px;
    margin-bottom:30px;
}
h3,.h3{
    font-family: 'Montserrat-Black';
    font-style: italic; 
    font-weight: bold; 
    font-size:30px;
    line-height:36px;
    margin-bottom:30px;
}
h4,.h4,form .gform_heading h3.gform_title{
    font-family: 'Montserrat';
    font-style: italic; 
    font-weight: normal; 
    font-size:30px;
    line-height:36px;
    margin-bottom:30px;
}
h5,.h5{
    font-family: 'Montserrat';
    font-style: normal; 
    font-weight: normal; 
    font-size:20px;
    line-height:36px;
    margin-bottom:30px;
}
h6,.h6{
    color:#999999;
    font-family: 'Montserrat';
    font-weight: bold; 
    font-size:12px;
    line-height:16px;
    margin:0;
    letter-spacing:2px;
    margin-bottom:20px;
    text-transform:uppercase;
}
hr{
    margin-top:30px;
    margin-bottom:30px;
}
.site-content{
    ul {
      list-style-type: none;
    }
    ul > li {
        color:#000;
        text-indent: -5px;
        font-size:16px;
        font-style:italic;
        line-height:28px;
    }
    ul > li:before {
        content: "";
        display: inline-block;
        width:20px; 
        height: 1.5px;
        background-color: #FF9900;
        text-indent: -5px;
        position:relative;
        top:-4px;
        margin-right:7px;
    }
    @media #{$bp-desk} {
        ul{
            list-style-position: inside;
            padding:0;
            margin:0;
        }
        ul > li {
            margin-left:-20px;
        }
    }
}
    .price-wrapper{
        margin-top:50px;
        margin-bottom:20px;
        .price{
            display:inline-block;
            color:#1a1a1a;
            font-weight:bold;
            font-size:20px;
            line-height:32px;
        }
        .price-description{
            display:inline-block;
            color:#1a1a1a;
            font-weight:normal;
            font-size:20px;
            line-height:32px;
        }
    }
    .page-child{
        .parent-header{
            .interior-container{
                padding-top:130px;
            }
        }
    }
    @media #{$bp-desk} {
        .page-child{
            .parent-header{
                .interior-container{
                    padding-top:60px;
                }
            }

        }
    }
a, a:visited, a:hover, a:active{
    color:#ff0000;
    text-decoration:underline;    
}
// Generally used as containers
section, header, footer, blockquote {
    margin: 0;
}
body{
	background-color:#F2F2F2;
	font-family: 'Montserrat';
    font-weight: regular;
}
.shadow-card{
	background-color: #ffffff;
	-webkit-box-shadow: 0px 6px 20px 0px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 6px 20px 0px rgba(0,0,0,0.1);
	box-shadow: 0px 6px 20px 0px rgba(0,0,0,0.1);
	border-radius:10px;
	overflow:hidden;
}
.dark-card{
	padding:60px;
	background-color:rgba(0, 0, 0, 0.9);
}
.left-bar{
	width:40px;
	display:inline-block;
	height:auto;
}
.orange-fade-horizontal{
	background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(255,153,0,1) 100%);
}
.orange-fade-horizontal-reverse{
    background: linear-gradient(90deg,rgba(255,153,0,1)  0%, rgba(255,0,0,1) 100%);
}
.orange-fade-vertical{
	background: rgb(255,0,0);
	background: linear-gradient(190deg, rgba(255,0,0,1) 0%, rgba(255,153,0,1) 100%);
}
.udrive-button{
	border-radius:4px;
	height:40px;
	display:inline-block;
	padding:15px 20px;
	color:white;
	text-align:center;
	text-transform:uppercase;
	&:hover{
		text-decoration:none;
        color:white;
	}
    h5,span, &.h5{
        font-size: 12px;
        font-weight: bold;
        letter-spacing: 2px;
        display: inline-block;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        color: white;
    }
    &.h5{
        text-decoration:none;
        color:white;
        padding-top:5px;        
        padding-bottom:5px;        
    }
    &:hover{
        background:none;
        background-color:#FF9901;
    }
}
.module{
	margin-bottom:60px;
	z-index:999;
	position:relative;
}
.interior-container{
	margin: auto;
	display:flex;
	max-width:900px;
}

@media #{$bp-desk-plus} {
	.interior-container{
		margin-right:20px;
		margin-left:20px;
	}
}
@media #{$bp-tab-sm} {
	.dark-card{
		padding:30px;
	}
	.block-banner{
		margin-bottom:30px;
	}
}
.wash-list{
    .icon-wrap{
        vertical-align:top;
        .img-wrapper{
//            display:table-cell !important;
                float:left;
                height:100%;
        }
        .icon-content{
            float:right;
            height:100%;

        }
    }    
}
/*** MAIN WRAPPER ***/
.gform_wrapper {
   // background: #6000AA;
 //   padding: 5%;
    margin:0 !important;
}
.gform_title{
        
}
.gform_wrapper .gform_body ul.gform_fields{
    margin-left:-6px !important;
}
/*** REMOVE LABEL FOR PLACEHOLDER ONLY ***/
.gform_wrapper .top_label .gfield_label,
.gform_wrapper .field_sublabel_below .ginput_complex.ginput_container label {
    color:#999999;
    font-weight:normal;
    font-style:normal !important;
}

/*** FIELD STYLING ***/
.gform_wrapper ul.gform_fields li.gfield,
.gform_wrapper .top_label li.gfield.gf_right_half {
    padding-right: 0;
}
input[type=text],
textarea {
   // background: #8300E9;
    border: none;
    border-bottom:solid 1px #999999;
    border-radius: 0;
    color: #1a1a1a;
    font-size:16px;
    letter-spacing: 2px !important;
    margin-left:-6px !important;
    padding-left:0 !important;
    //padding: 17px 15px !important;
    margin-bottom: 30px !important;
    margin-top:-10px;
}
.gform_wrapper .top_label div.ginput_container{
    margin-top:-3px !important;   
}
/*** FIELD FOCUS STYLING ***/
input[type=text]:focus,
input.text:focus,
input.title:focus,
textarea:focus {
    outline:none;
    color:back;
}

/*** MESSAGE BOX TRANSITION ***/
.gform_wrapper textarea.medium {
    margin-top: 6px;
    height: 10em;
    transition: height .3s ease-out;
}

/*** MESSAGE BOX FOCUS HEIGHT ***/
.gform_wrapper textarea.medium:focus {
    height: 25em;
}

/*** BUTTON STYLING ***/
.gform_wrapper .gform_footer input.button,
.gform_wrapper .gform_footer input[type=submit] {
    width: auto !important;
    margin: 0 !important;
}
.gform_wrapper input[type=submit] {
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    padding: 10px 12px;
    border-radius: 0;
    background: #19ffc0;
    color: rgba(0, 0, 0, 0.5);
    border: none;
    transition: box-shadow .2s ease-in-out;
}
.gform_wrapper select{
    color:#999999;
    margin-top:3px;
}
.gform_wrapper select:focus{
    color:#1a1a1a;
}
.gform_wrapper select, .gform_wrapper select:focus{
    outline:none;
    padding-left:0 !important;
    margin-left:-6px !important;
    padding-top:9px !important;
    padding-bottom:9px !important;
}
/*** BUTTON HOVER STYLING ***/
.gform_wrapper input[type=submit]{
    background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(255,153,0,1) 100%);
    margin-left:10px !important;
    margin-top: 30px !important;
    border-radius:4px;
    height:40px;
    display:inline-block;
    color:white;
    text-align:center;
    text-transform:uppercase;
    &:hover{
        text-decoration:none;
        color:white;
    }
        font-size: 12px;
        font-weight: bold;
        letter-spacing: 2px;
        display: inline-block;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        color: white;
}
.gform_wrapper input[type=submit]:hover {
    //background: #f2bf2f;
    //color: #fff;
    //box-shadow: 0 10px 20px 0 rgba(0, 0, 0, .2);
}

/*** PLACEHOLDER ***/
::-webkit-input-placeholder {
    /* Chrome */
    color: rgba(255, 255, 255, 0.7) !important;
}
:-ms-input-placeholder {
    /* IE 10+ */
    color: rgba(255, 255, 255, 0.7) !important;
}
::-moz-placeholder {
    /* Firefox 19+ */
    color: rgba(255, 255, 255, 0.7) !important;
}
:-moz-placeholder {
    /* Firefox 4 - 18 */
    color: rgba(255, 255, 255, 0.7) !important;
}
