
// Colors

$accent: blue;
$body-grey: #eee; 
$light-grey: #e6e6e6;
$medium-grey: #ccc;
$dark-grey: #8a8a8a;
$ud-yellow:#FF9900;

// Layout

$block-padding: 2rem;
$element-spacing: 1rem;

// Typography

$font-1: Montserrat;
$font-2: Montserrat;

// Media Queries

$bp-mobile:	"only screen and (max-width: 599px)";
$bp-tab-sm: "only screen and (max-width: 599px)";
$bp-tab:	"only screen and (max-width: 599px)";
$bp-desk:	"only screen and (max-width: 899px)";
$bp-desk-plus:	"only screen and (max-width: 940px)";
$bp-desk-lg: "only screen and (max-width: 1200px)";
$bp-mobile-padding: "only screen and (max-width: 1240px)"; // $bp-desk-lg + mobile side padding

// Wordpress Specific

$wp-center: 5px auto 5px auto;
$wp-left:   5px 90px 70px 0;
$wp-right:  5px 0 70px 90px;

// Susy configuration

$susy: (
    'columns': susy-repeat(12),
    'gutters': 1em,
    'spread': 'narrow',
    'container-spread': 'narrow'
);