$header-height-599:223px;
$header-height-939:500px;
$header-height-1240:500px;
$header-height-plus:500px;
$header-height-half-599:223px;
$header-height-half-939:223px;
$header-height-half-1240:223px;
$header-height-half-plus:223px;
.module{
	clear:none;
}
.block-media {
	margin-top:60px;
	margin-bottom:60px;
	.interior-container{
		.shadow-card{
			width:calc(100%);
			&.half-width{
				width:calc(50% - 20px);
			}
			line-height:0;
			margin-bottom:0;
			position: relative;
			padding-bottom: 0;
			padding-top: 0;
			.video-btn{
				z-index:12;
				display:inline-block;
				position: relative;
				top: 50%;
				transform: translateY(-50%);
				text-decoration:none;
				padding:15px; 
				svg{
					fill-opacity:1;
					height:100px;
					width:100px;
				}
			}
			.layout-content {
				line-height:normal;
				display:inline-block;
				width: 100%;
			}
			.bg-image {
				position:relative;
				height:$header-height-plus;
				margin: 0px auto;

				@media only screen and (max-width: 599px) {
					height: calc( #{$header-height-599} );
				}
				width: 100%;
				max-width:1220px;
				background-size: cover;
				background-position:  center;
				overflow: hidden;
				.video {
					position: absolute;
					height:100%;
					top: 0;
					bottom: 0;
					left: 0;
					right: 0;
					z-index: 1;
					width: 100%;
				}
				.img-overlay {
					position: absolute;
					top: 0;
					z-index:9;
				 	margin: 0px auto;
					height:$header-height-plus;
					@media only screen and (max-width: 939px) {
						height: calc( #{$header-height-939} );
					 	margin: 0px auto;

					}
					@media only screen and (max-width: 599px) {
						height: calc( #{$header-height-599} );
					}
					width: 100%;
					max-width:1220px;

				}
			}

			.media-foot-content{
				height:100%;

				display:inline-block;
				position:relative;
				.top-bar{
					display:none;
				}
				.left-bar{
					display:none;
				}
				&.no-banner{
					.top-bar{
						display:inline-block;
					}
					.left-bar{
						float:left;
						display:inline-block;
						min-height:100%;
						width:30px;
					}
					.title{
						width:calc(100% - 40px);
						display:inline-block;
					}
				}
				.title-wrap{
					justify-content: center;

					padding:60px;
					h6{
						//margin-bottom:30px;
					}
					p{
						margin-bottom:60px;
					}
				}
				width:100% !important;

				text-align:left;
				@media only screen and (max-width: 939px)  {
		   			display:block;
		    	}

			}

			.img-block-wrap.half-width {
				display: inline-block;
				width: 50%;
				position: relative;

				&:first-of-type {
					border-right: 1px solid #f5f5f5;
				}
				.bg-image {
					@media only screen and (max-width: 1400px) {
						height: auto;
						padding-bottom: 100%;
					}
				}
			}
		}
	}
	@media #{$bp-desk} {
		.media-foot-content{
			padding-left:0;
			.top-bar{
				width:100%;
				height:30px;
				display:block !important;
				float:none;
			}
			.left-bar{
				display:none !important;
			}
		}
	}
}
.block-media{
	.interior-container{
		@media only screen and (max-width: 599px) {
			display:block;
			//width:100%;
		}
		.shadow-card.half-width{
			width: calc(50% - 20px);
			font-size:0;
	//		max-width:587px;
			position:relative;
			top:0;
			height:100%;
			vertical-align:top;
			float:left;
			&._second{
				float:right;
				margin-left:60px;
			}
			@media only screen and (max-width: 599px) {
				//margin:0 !important;
				float:none !important;
				display:block;
				width:calc(100%);
				margin-top:60px !important;
				&._second{
					margin-left:0;		
				}
			}
			.bg-image {
				position:relative;
				height:$header-height-half-plus;
			}
			.media-foot-content{
				padding-left:0;
				.top-bar{
					width:100%;
					height:30px;
					display:block;
					float:none;
				}
				.left-bar{
					display:none;
				}
				.title{
					width:100%;
					text-align:center;
					margin:0 !important;
					padding:0;
					.title-wrap{
					line-height:normal;
						width:100%;
						text-align:center;
						.button-wrapper{
						display:inline-block;
							.udrive-button{
							}
						}
					}
				}
				&.no-banner{
					.top-bar{
						display:inline-block;
					}
					.left-bar{
						float:left;
						display:inline-block;
						min-height:100%;
						width:30px;
					}
					.title{
						width:calc(100%);
						display:inline-block;
					}
				}

			}
			.media-foot-content{
				width:calc(100% - 20px);
				display:block !important;
				.title{
					overflow:hidden;
					width:100%;
				}
			}
		}
	}
}
