.block-header {
	width:100%;
	text-align:center;
	margin-bottom:0;
	margin-top:0;
	background-color:white;
	position:absolute;
	.orange-fade-horizontal-reverse{
		height:5px;
		width:100%;
		position:relative;
		z-index:0;
	}
	.mobile-nav{
		display:none;
	}
	.mobile-menu{
		display:none;
	}

	.content{
		max-width:900px;
		width:100%;
		display:inline-block;
		.logo{
			height:70px;
			width:auto;


			float:left;
		}
		p{
			font-size:12px;
			color:#999999;
			margin-bottom:0;
		}
		.main-nav{
			margin-top:25px;
			display:inline-block;
			ul.primary-nav{
				list-style:none;
				margin:0;
				padding:0;

				li{

					text-align:center;
					border-bottom: solid 2px transparent;
				    position: relative;
				    display: inline-block;
				    margin-left: 10px;
				    margin-right: 10px;
				    padding-bottom: 0px;
					&:hover, &.active{
						border-bottom:solid 2px #FF9900;
					}
					&:first-child{
						margin-left:0;
					}
					&.red-button{
						margin-right:0;
						a{
							padding:10px 12px;
							border-radius:10px;
							background-color:#FF0000;
							color:white;
							border-bottom:0;
							font-size:12px;
							text-transform:uppercase;
							font-weight: bold; 
							letter-spacing: 2px;
						}
						&:hover{
							border-bottom:0;
						}
					}
					.yellow-link{
						font-weight: bold;
						text-transform: uppercase;
						letter-spacing: 2px; 
						color:#FF9900;
						font-size:12px;
					}
					a{
						font-size:16px;
						font-weight:bold;
						color:black;
						text-decoration:none;
					}
					.sub-nav{
						margin-top:2px;
						width:375px;
						z-index:9999;
						list-style:none;
						display:none;
						left:0px;
						position:absolute;
						background:black;
						padding:40px;
						text-align:left;
						li{
							text-align:left;
							margin-left:0;
							display:block;
							border-bottom:0;							
							a{
								color:white;
							}
							&.hover{
								border-bottom:0;							
							}
							margin-bottom:20px;
						}
					}
					&:hover{
						.sub-nav{
							display:inline-block;
						}
					}

				}
			}
		}
		.links{
			float:right;
			margin-top:30px;
			margin-right:55px;
			a{
				font-size:16px;
				font-weight:bold;
				color:#FF9900;
				text-decoration:none;
				&:hover{
					color:#FF9900;
					text-decoration:none;					
				}
			}
		}
	}
	@media #{$bp-desk} {
		position:relative;
		ul.primary-nav{
			.red-button{
				display:none;
			}
		}
		.mobile-nav{
			display:block;
			height:40px;
			border-top:solid 2px #cccccc;
			.menu-button{
				float:left;
				margin-left:20px;
				cursor:pointer;
				 span{
				 	font-weight:bold;
				 	font-size:12px;
				 	line-height:40px;
				 	margin-left:12px;
				 }
				.menu-open{
					height:20px;
				}
				.menu-close{
					cursor:pointer;
					display:none;
					height:20px;
				}
			}
			.red-button{
				float:right;
				margin-right:20px;
				margin-top:13px;
				a{
					padding:5px 12px;
					border-radius:5px;
					background-color:#FF0000;
					color:white;
					border-bottom:0;
					font-size:12px;
					text-transform:uppercase;
					font-weight: bold; 
					letter-spacing: 2px;
					text-decoration:none;
				}
				&:hover{
					border-bottom:0;
				}
			}

			.yellow-link{
				font-weight: bold;
				text-transform: uppercase;
				letter-spacing: 2px; 
				color:#FF9900;
				font-size:12px;
				text-decoration:none;
				line-height:40px;
				float:right;
				margin-right:25px;
			}
		}
		.mobile-menu{
			display:none;
			padding:30px;
			background-color:black;
			text-align:left;
			#footer-menus{
				.column-two{
					a{
						color:#ffffff;
						font-size:14px;
						line-height:28px;
						text-decoration:none;
					}
				}
				.column-three{
					a{
						color:#999999;
						font-size:12px;
						font-weight:bold;
						line-height:24px;
						text-decoration:none;
					}
				}
				.column-two,.column-three{
					margin-top:20px;
					padding-top:30px;
					border-top:solid 1px #999999;
					list-style-type:none;
					padding-left:0;
					margin-left:0;
				}
			}
			.primary-nav{
				padding:0;
				margin:0;
				li{
					&.red-button{
						display:none;
					}
					text-align:left;				
					.sub-nav{
						list-style-type:none;
					}
					a, a:hover, a:visited{
						color:white;
						font-size:16px;
						font-weight:bold;
						line-height:36px;
						text-decoration:none;
					}
				}
			}

		}
		.content{

			width:100%;
			margin:0;
			.main-nav{
				float:right;
				ul.primary-nav{
					li{
						display:none;
						&.red-button{
						//	margin-right:20px;
							display:none;
						}
						&.yellow-link-wrap{
							margin-right:20px;
							display:inline-block;
						}
					}
				}		
			}
		}
	}
	@media #{$bp-desk} {

		&.open-mobile{
			.mobile-nav{
				.menu-button{
					.menu-open{
						display:none;
					}
					.menu-close{
						display:inline-block;
					}
				}
			}
			.mobile-menu{
				display:block;
			}
		}
	}
}
